body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  background-color: aliceblue;
}
ol,
ul {
  padding-left: 30px;
}
.board-row {
  display: flex;
  flex-flow: row wrap;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: calc(500px / 3);
  height: calc(500px / 3);
  font-size: 32px;
  color: #111;
  background-color: aliceblue;
}
.square-col1 {
  border-bottom: 3px solid blue;
  border-right: 3px solid blue;
}
.square-middleBottom {
  border-right: 3px solid blue;
}
.square-top {
  border-top: 3px solid blue;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.game-info {
  margin-left: 20px;
}
.plsCenter {
  vertical-align: middle;
}